
# Table of contents
1. [Imports Section](#imports)
2. [Dataset Download Section](#downloads) (Skip if existing data)

-------------------------

# 1. Imports Section

In [40]:
import pandas as pd

---------------------------

# 2. Dataset Download Section <a name="downloads"></a>

Since all our data sources are updated regularly, this section allows you to get the latest and run the same code for newer data. <br/>

The data is downloaded wherever the notebook is run, so use a folder.<br/>

> __1__ and __2__ datasets are timed by default (API Like)<br/>
> Change date in the __3__ Dataset to whatever day downloading <br/>

In [41]:
# Policy Data
!curl -l https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/OxCGRT_withnotes_2021.csv > data_policy.csv

# Us State Wise Case Data 
!curl -l https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv > data_case.csv    

# Apple Mobility Data    
!curl -l https://covid19-static.cdn-apple.com/covid19-mobility-data/2119HotfixDev12/v3/en-us/applemobilitytrends-2021-10-20.csv > data_mobility.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 57.9M  100 57.9M    0     0  8212k      0  0:00:07  0:00:07 --:--:-- 8569k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 72.7M  100 72.7M    0     0  11.6M      0  0:00:06  0:00:06 --:--:-- 12.3M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 19.1M  100 19.1M    0     0  12.5M      0  0:00:01  0:00:01 --:--:-- 12.5M

----------------------------------

# 3. Dataset Baseline Filtering and Clean Up 
Since we are only concerned on the USA datasets, this section filters datasets for only the United States 

### After Cleanup, We get 3 Variables 
#### `DF_MOBILITY_MAIN`
#### `DF_POLICY_MAIN`
#### `DF_CASE_MAIN`

In [25]:
# Run only once 
df_case = pd.read_csv('./data_case.csv',parse_dates=['date'])
df_policy = pd.read_csv('./data_policy.csv',parse_dates=['Date'])
df_mobility = pd.read_csv('./data_mobility.csv')

/usr/local/Caskroom/miniconda/base/envs/602/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/Caskroom/miniconda/base/envs/602/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [42]:
df_case

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
1836102 2021-10-20  Sweetwater     Wyoming  56037.0   7361    78.0
1836103 2021-10-20       Teton     Wyoming  56039.0   5098    14.0
1836104 2021-10-20       Uinta     Wyoming  56041.0   3744    26.0
1836105 2021-10-20    Washakie     Wyoming  56043.0   1644    32.0
1836106 2021-10-20      Weston     Wyoming  56045.0   1006     9.0

[1836107 rows x 6 columns]

## 3.1 Cleaning up Mobility Data

In [30]:
df_mobility_usa = df_mobility[df_mobility['country']=='United States']

In [31]:
# Melting in order to transpose 
df_mobility_usa_melted = df_mobility_usa.melt(id_vars=["region", "transportation_type","sub-region","country","geo_type"], 
        var_name="Date", 
        value_name="Value")

In [34]:
DF_MOBILITY_MAIN = df_mobility_usa_melted[df_mobility_usa_melted['Date']!='alternative_name']

In [39]:
DF_MOBILITY_MAIN.head()

,region,transportation_type,sub-region,country,geo_type,Date,Value
3102,Akron,driving,Ohio,United States,city,2020-01-13,100.0
3103,Akron,transit,Ohio,United States,city,2020-01-13,100.0
3104,Akron,walking,Ohio,United States,city,2020-01-13,100.0
3105,Albany,driving,New York,United States,city,2020-01-13,100.0
3106,Albany,transit,New York,United States,city,2020-01-13,100.0

## 3.2 Cleaning up Policy Data

In [36]:
1

In [38]:
DF_POLICY_MAIN.head()

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_School closing,C1_Flag,C1_Notes,C2_Workplace closing,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
73794,United States,USA,NaN,NaN,NAT_TOTAL,2021-01-01,3.0,0.0,NaN,2.0,...,71.76,71.76,73.33,73.33,68.44,68.44,69.29,69.29,62.5,62.5
73795,United States,USA,NaN,NaN,NAT_TOTAL,2021-01-02,3.0,0.0,NaN,2.0,...,71.76,71.76,73.33,73.33,68.44,68.44,69.29,69.29,62.5,62.5
73796,United States,USA,NaN,NaN,NAT_TOTAL,2021-01-03,3.0,0.0,NaN,2.0,...,71.76,71.76,73.33,73.33,68.44,68.44,69.29,69.29,62.5,62.5
73797,United States,USA,NaN,NaN,NAT_TOTAL,2021-01-04,3.0,0.0,NaN,2.0,...,71.76,71.76,73.33,73.33,68.44,68.44,69.29,69.29,62.5,62.5
73798,United States,USA,NaN,NaN,NAT_TOTAL,2021-01-05,3.0,0.0,NaN,2.0,...,71.76,71.76,73.33,73.33,68.44,68.44,69.29,69.29,62.5,62.5

## 3.3 Cleaning up Case Data

----------------------